@import '../../../styles/typography.scss';
@import '../../../styles/variable.scss';

.container{
  width: min(512px, 100%);
  margin: 0 20px;
}

.form {
  width: min(512px, 100%);
  border: 1.5px solid $container-border-color;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 24px;
}

.label {
  text-align: center;
  font-size: 70px;
  margin-bottom: 64px;
}
